      *{
            margin: 0px; 
            padding: 0px;
            box-sizing: border-box;
      }


.nav{

      width: 500px;
      height: 20px;
      background-color: rgb(151, 20, 237);
      position: relative;
      display: inline-flex;
      align-items: center;
      padding: 0px;
      justify-content: flex-start;
      margin-left: 4px;
      margin-top: 10px;
}

#first{
      width: 250px;
      height: 60px;
      background: #58B957;
}
#second{
      width: 100px;
      height: 60px;
      background:#56C0E0;
}
#third{
      width: 150px;
      height: 60px;
      background:#F2AE43;
}

.text{
      font-size: 20px;
      color: aliceblue;
      position: absolute;
      margin:18px 0px 0px 2px ;
}
#iconfirst{
  font-size: 35px;
  color: aliceblue;
  margin: 13px 0px 0px 8px;
  
}
#iconsecond{
      font-size: 35px;
      color: aliceblue;
      margin: 13px 0px 0px 4px;
      
    }


#iconthird{
      font-size: 35px;
      color: aliceblue;
      margin: 13px 0px 0px 4px;
      
    }
#search{
      width: 450px;
      height: 46px;
      border: 1px solid black;
      z-index: 1;
}
.nav2{
      margin: -35px 0px 0px 1023px;
}
#text2{
      font-size: 25px;
      margin: -35px 0px 0px 7px;
       position: absolute;
       z-index: 2;
       
}
#table{
      margin: 10px 0px 0px 4px;

}

.id{
      font-size: 20px;
      font-weight: 600;
      margin: 0px 5px 0px 5px;
}
.blue{
      background-color: #84CDFC;
} 

.secondtext{
      font-size: 18px;
      font-weight: 400;
      margin: 0px 5px 0px 10px;
}

.firsttext{
      font-size: 18px;
      font-weight: 400;
      margin: 0px 5px 0px 50px;
}
.odd{
      margin: 0px 5px 0px 10px;
}
#end{
      text-align: end;
}

#center{
      text-align:center;
}
#box{
      width: 150px;
      height:30px ;
}
#even{
      width: 70px;
      height:50px ;
}  
#ten{

      font-size:100px; 
}
.bellow{
      font-size: 25px;
      text-align: center;
      color: #2F79B9;
}

.above{
      text-align: center;
      margin: -53px 0px 0px 1065px;
}
#abover{
      background-color:#2F79B9;
      
}
#abover font{
      color: aliceblue;
}